<html>
<head>
  <title>Event Trigger and Email Notification</title>
  </head>
<body>
  <h1>Event Creation and Email Notification</h1>

  <div class="event-buttons">
    <%= form_tag events_create_event_a_path, method: :post do %>
      <button type="submit">Create Event A</button>
    <% end %>
    <%= form_tag events_create_event_b_path, method: :post do %>
      <button type="submit">Create Event B</button>
    <% end %>
  </div>

  <% if flash[:success] %>
    <p class="success"><%= flash[:success] %></p>
  <% end %>
  <% if flash[:error] %>
    <p class="error"><%= flash[:error] %></p>
  <% end %>

  </body>
</html>